
<div class="container-fluid">
        <div class="row">
            <div class="contacto text-center">
                <h1>Contactos</h1>
                <p>HUERTAtips es una guía de cultivo hecha en base a contenidos del INTA y otras fuentes.</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/huertatips" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a>
                    </li>
                    <li><a href="https://facebook.com/huertatips" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a>
                    </li>
                    <li> <a href="https://plus.google.com/114016320843260549107" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i></a>
                    </li>
                    <li><a href="mailto:info@huertatips.com" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
</div>