
  <div class="container listaDeCultivos">
  
  <h1 class="text-center">Todos los cultivos</h1>


    <div class="text-center">       <!--BARRA DE BUSQUEDA-->
      Buscar: <input ng-model="query">
    </div>    

  

      <ul class="cultivosEnMes">     <!--COLUMNA LISTADO-->
        <li ng-repeat="cultivo in cultivos | filter:query" class="thumbnail">
          <a href="#/cultivos/{{cultivo.id}}" class="thumb"><img ng-src="{{cultivo.imageUrl}}"></a>
          <a href="#/cultivos/{{cultivo.id}}">{{cultivo.name}}</a>
        </li>
      </ul>

<hr>      

    </div>
 

