<div class="container">



        <div class="row text-center">
                        <h1 class="brand-heading">HUERTA<span class="light">tips</span></h1>
                        <p class="intro-text">es un calendario de cultivos para el hemisferio Sur.</p>
        </div>  <!--CIERRE BRAND HEADING -->      
                            



        <div class="row text-center hoja"> <!--BOTONERA-->
                           		<div class="col-xs-12"> <a href="#calendario" class="fa-stack fa-lg">
                             		<i class="fa fa-circle fa-stack-2x"></i>
                                	<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>"></i><div><h6>Calendario</h6></div> </a>
             
                            		<a href="#cultivos" class="fa-stack fa-lg">
                             		<i class="fa fa-circle fa-stack-2x"></i>
                                	<i class="fa fa-leaf fa-stack-1x fa-inverse"></i>"></i><div><h6>Cultivos</h6></div> </a>
                           
                            	
                                    <a href="#tareas" class="fa-stack fa-lg"> 
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-list fa-stack-1x fa-inverse"></i>"></i><div><h6>Tareas</h6></div> </a>
                           
                                </div>
        </div>



</div> <!--DIV CONTAINER -->
