<div class=" container listaDeCultivos">
<h1 class="text-center">{{mes.nombre}}</h1>


      <ul class="cultivosEnMes">
        <li ng-repeat="cultivo in cultivos | filtroMes:''" | class="thumbnail">
          <a href="#/cultivos/{{cultivo.id}}" class="thumb"><img ng-src="{{cultivo.imageUrl}}"></a>
          <a href="#/cultivos/{{cultivo.id}}"><h2>{{cultivo.name}}</h2></a>
        </li>
      </ul>

</div>

<div class="container listaDeCultivos">
  <h1>Tareas para {{mes.nombre}}</h1>
        <ul class="cultivosEnMes">    
        <li ng-repeat="tarea in tareas | filtroTarea:''" | class="thumbnail"> 
          <a href="#/tareas/{{tarea.id}}" class="thumb"><img ng-src="{{tarea.imageUrl}}"></a>
          <a href="#/tareas/{{tarea.id}}"><h2>{{tarea.titulo}}</h2></a>
        </li>
      </ul>
</div>
<hr>      
