<div class="container-fluid">
  
  <h1 class="text-center">Tareas para este mes</h1>


    <div class="text-center">       <!--BARRA DE BUSQUEDA-->
      Buscar: <input ng-model="query">
    </div>    

    <div class="container">
        <ul class="cultivosEnMes">     
        <li ng-repeat="tarea in tareas | filtroTarea:''  | filter:query" | class="thumbnail">
          <a href="#/tareas/{{tarea.id}}" class="thumb"><img ng-src="{{tarea.imageUrl}}"></a>           
          <a href="#/tareas/{{tarea.id}}"><h2>{{tarea.titulo}}</h2></a>
        </li>
        </ul>
        
</div>

